@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --font-principal:'Poppins', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --cor-primaria: #01120a;
    --cor-secundaria: #D1E8D8;
    --cor-terciaria: #3D942F;
    --cor-quartenaria: #70E05E;
    --cor-quintenaria: #01180a;
    --time: 500ms;
    --delay: var(--time) / 2;
    --mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-principal);
    background: var(--cor-primaria);
    color: var(--cor-secundaria);    
}

.main{
    overflow: hidden; /*For animation*/
  }

/* Cabeçalho */

.cabecalho {  
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;    
    background: var(--cor-primaria);
    display: flex;    
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}


.logo {
    position: relative;    
    font-size: 2em;
    font-weight: 600;
    text-decoration: none; 
    pointer-events: none;
    opacity: 0;
    animation: deslizarCima 1s ease forwards;
}

.logo strong {
    color: var(--cor-terciaria);
}

.menu a {
    display: inline-block;
    font-size: 1.8em;    
    text-decoration: none;    
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.menu ul {
    display: flex;    
}

.menu a {
    display: inline-block;
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    margin-left:50px;
    opacity: 0;
    animation: deslizarCima .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.menu a:hover,
.menu a.ativo {
    color: var(--cor-quartenaria);
}

/* Home */

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;    
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-conteudo-principal {
    max-width: 50%;
    margin-left: -50px;    
}

.home h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
    opacity: 0;
    animation: deslizarDireita .5s ease forwards;
    animation-delay: .7s; 
}

.home h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.8;
    opacity: 0;
    animation: deslizarDireita .5s ease forwards;
    animation-delay: .9s;   
}

.home h2 {    
    font-size: 2.5em;
    font-weight: 900;    
    color: var(--cor-quartenaria);    
    margin-top: 12px;
    opacity: 0;
    animation: deslizarEsquerda .5s ease forwards, homeTexto 6s linear infinite;
    animation-delay: 1.1s, 1.1s;      
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: var(--cor-secundaria);
    margin-left: 0.1rem;
    animation: homeCursorTexto 1s infinite;
}

.home p {
    font-size: 1em;
    margin: 20PX 0 40PX;
    line-height: 1.5;
    opacity: 0;
    animation: deslizarEsquerda .5s ease forwards;
    animation-delay: 1.3s;   
}

.btn-cv, .btn-contate {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;     
    font-size: 1.2em;    
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;    
    z-index: 1;
    overflow: hidden;
}

.btn-cv {
    margin-right: 20px;
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    opacity: 0;
    animation: deslizarCima 1s ease forwards;
    animation-delay: 1.5s;
}

.btn-contate {
    color: var(--cor-terciaria);
    opacity: 0;
    animation: deslizarCima 1s ease forwards;
    animation-delay: 1.7s;
}

.btn-cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background: var(--cor-primaria);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    transition: .5s ease;
}

.btn-cv:hover::before {
    width: 100%;
}

.btn-cv:hover {
    color: var(--cor-terciaria);
    transition: .5s;
}

.btn-contate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background: var(--cor-terciaria);    
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    transition: .5s ease;
}

.btn-contate:hover::before {
    width: 100%;
}

.btn-contate:hover {
    color: var(--cor-primaria);
    transition: .5s;
}

.home-icones a{
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, var(--cor-terciaria), var(--cor-quartenaria));
    border-radius: 50%;
    font-size: 20px;
    color: var(--cor-terciaria);
    margin: 20px 0;
    z-index: 1;
}

.home-icones a:hover {
    color: var(--cor-primaria);
    transition: .5s;
}

.home-icones a:nth-child(1){
    opacity: 0;
    animation: deslizarBaixo 1s ease forwards;
    animation-delay: 1.9s;
}

.home-icones a:nth-child(2){
    opacity: 0;
    animation: deslizarDireita 1s ease forwards;
    animation-delay: 1.9s;
}

.home-icones a:nth-child(3){
    opacity: 0;
    animation: deslizarCima 1s ease forwards;
    animation-delay: 1.9s;
}

.home-icones a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--cor-terciaria), var(--cor-quartenaria));    
    z-index: -1;
    transition: .5s ease;
}

.home-icones a:hover::before {
    filter: blur(2px);
}

.home-icones a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--cor-primaria);
    transform: scale(0.88);
    z-index: -1;
    transition: .3s ease;
}

.home-icones a:hover::after {
    transform: scale(0);
}

.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoom .5s ease forwards, flutuarImagem 4s ease-in-out infinite;
    animation-delay: 2.1s, 2.7s;    
}

.home-img .borda-decorada {
    position: relative;
    width: 100%;
    height: 100%;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .borda-decorada::after {
    position: absolute;
    content: '';
    width: 380px;
    height: 380px;
    background: var(--cor-primaria);
    border-radius: 50%;
}

.borda-decorada span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( var(--cor-terciaria), var(--cor-quartenaria));
    border-radius: 50%;     
    animation: rotacionarBorda 5s linear infinite;     
}

.borda-decorada span:nth-child(1) {
    filter: blur(10px);
}

.borda-decorada .foto {
    position: relative;
    width: 380px;
    height: 380px;    
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.foto img {
    position: absolute;    
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    object-fit: cover;     
} 

/* Sobre Mim */

.sobre {
    position: relative;
    width: 100%;
    justify-content: space-between;    
    min-height: 100vh;    
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    padding: 70px 10% 0;
}

.sobre_conteudo {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;    
}

.sobre img {      
    grid-column: 1;
    max-width: 100%; 
    animation: flutuarImagem 4s ease-in-out infinite;
    animation-delay: 1s;      
}

.sobre_container {
    position: relative;
    grid-column: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.sobre_container .sobre_sobre_mim {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 10%;    
}

.sobre_container .sobre_sobre_mim .sobre_titulo {    
    grid-column: 1/-1;
    text-align: start;   
}

.sobre_container .sobre_sobre_mim .sobre_titulo h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundaria);
    font-weight: 800;      
    margin-bottom: 12px;
    margin-top: 20px;  
}

.sobre_container .sobre_sobre_mim .sobre_titulo h1 b {
    color: var(--cor-quartenaria);  
}

.sobre_container .sobre_sobre_mim .sobre_titulo p {    
    font-size: 1.2rem;    
    position: relative;
    margin-bottom: 1.5rem;
}

.sobre_container .sobre_sobre_mim .sobre_titulo span {
    background-color: var(--cor-quartenaria);
    height: 6px;
    width: 60px;
    margin: 1.5rem 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_container .sobre_sobre_mim .sobre_info {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: .5rem;
    align-items: center;
    padding-bottom: 1.2rem;
}

.sobre_container .sobre_sobre_mim .sobre_info i {
    color: var(--cor-quartenaria);
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_container .sobre_sobre_mim .sobre_info p {
    font-size: .9rem;
}

.sobre_container .sobre_sobre_mim .sobre_texto {
    position: relative;
    height: 360px;
    overflow: hidden;    
}

.sobre_container .sobre_sobre_mim.ativo .sobre_texto {
    height: auto;
}

.sobre_container .sobre_sobre_mim .sobre_texto::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(transparent, var(--cor-primaria));
}

.sobre_container .sobre_sobre_mim.ativo .sobre_texto::before {
    display: none;
}

.sobre_container .sobre_sobre_mim .sobre_texto h1 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

.sobre_container .sobre_sobre_mim .sobre_texto p {
    font-size: 1em;
    font-weight: 300;    
}

.sobre_container .sobre_sobre_mim .mais {
    position: relative;
    padding:  10px 15px;
    background: transparent;
    margin: 10px 0;    
    display: flex; 
    float: right;   
    cursor: pointer;       
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1em;
    text-decoration: none;
}

.sobre_container .sobre_sobre_mim .mais {
    color: var(--cor-quartenaria);
}

.sobre_container .sobre_sobre_mim .mais:hover {
    color: var(--cor-terciaria);
    transition: .5s;
}

.sobre_container .sobre_sobre_mim.ativo .mais {    
    color: var(--cor-quartenaria);
}

.sobre_container .sobre_sobre_mim.ativo .mais:hover {    
    color: var(--cor-terciaria);
    transition: .5s;
}

.sobre_container .sobre_sobre_mim .mais::before {
    content: 'Leia Mais ▼';
}

.sobre_container .sobre_sobre_mim.ativo .mais::before {
    content: 'Leia Menos ▲';
}

/* Educação */

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;    
    background-size: cover;
    background-position: center;    
    padding: 70px 10% 0;
    font-family: var(--font-principal);    
}

.education h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundaria);
    font-weight: 800;   
    padding-bottom: 4rem;
    margin-top: 50px;  
}

.education span {
    color: var(--cor-quartenaria);
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 30rem;
}

.education-column .title {
    font-size:  2rem;
    font-weight: 500;
    margin: 0 0 2rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--cor-quartenaria);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--cor-quartenaria);;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border:  .2rem solid var(--cor-quartenaria);;
    border-radius: .6rem;
    margin-bottom: 2rem;
    z-index: 1;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0c3305;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.2rem;
    color: var(--cor-quartenaria);;
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 1.4rem;
    line-height: 2rem;
}

.education-content .content p {
    font-size: 1rem;
    padding-top: .3rem;
    line-height: 1.5rem;
}

/* certificados */

.certificados {  
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% 0;
}

.certificados h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundaria);
    font-weight: 800;         
}

.certificados h1 span {
    color: var(--cor-quartenaria);
}


.slider-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;

  .bullet-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .bullet {
      margin-right: 14px;

      &:last-child {
        margin-right: 0px;
      }

      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--cor-secundaria);
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);

    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: z-index 0ms var(--delay);

      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
        transition: var(--time) var(--mode);
        transform: scale(0);
        opacity: 0;
      }

      .slider-single-download {
        position: absolute;
        display: block;
        right: -22px;
        bottom: 12px;
        padding: 15px;        
        background-color: var(--cor-quartenaria);
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        transition: var(--time) var(--mode);
        opacity: 0;

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }

      .slider-single-title {
        display: block;
        float: left;
        margin: 16px 0 0 20px;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        
        transition: var(--time) var(--mode);
        opacity: 0;
      }

      .slider-single-likes {
        display: block;
        float: right;
        margin: 16px 20px 0 0;
        transition: var(--time) var(--mode);
        opacity: 0;

        i {
          font-size: 40px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;       
          transition: var(--time) var(--mode);
          transform: scale(0);
        }

        p {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          
        }

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }

      &.preactivede {
        transform: translateX(-50%) scale(0);
      }

      &.preactive {
        z-index: 1;

        .slider-single-image {
          opacity: 0.3;
          transform: translateX(-25%) scale(0.8);
        }

        .slider-single-download {
          transform: translateX(-150px);
        }

        .slider-single-title {
          transform: translateX(-150px);
        }

        .slider-single-likes {
          transform: translateX(-150px);
        }
      }

      &.proactive {
        z-index: 1;

        .slider-single-image {
          opacity: 0.3;
          transform: translateX(25%) scale(0.8);
        }

        .slider-single-download {
          transform: translateX(150px);
        }

        .slider-single-title {
          transform: translateX(150px);
        }

        .slider-single-likes {
          transform: translateX(150px);
        }
      }

      &.proactivede {
        transform: translateX(50%) scale(0);
      }

      &.active {
        z-index: 2;

        .slider-single-image {
          opacity: 1;
          transform: translateX(0%) scale(1);
        }

        .slider-single-download {
          opacity: 1;
          transition-delay: 100ms;
          transform: translateX(0px);
        }

        .slider-single-title {
          opacity: 1;
          transition-delay: 200ms;
          transform: translateX(0px);
        }

        .slider-single-likes {
          opacity: 1;
          transition-delay: 300ms;
          transform: translateX(0px);
        }
      }
    }
  }

  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    font-size: 1.5rem;
    
    transform: translateY(-50%);
    padding: 20px 15px;
    border: 2px solid var(--cor-quartenaria);
    border-right: none;
    margin-right: -2px;
  }

  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    font-size: 1.5rem;
    
    transform: translateY(-50%);
    padding: 20px 15px;
    border: 2px solid var(--cor-quartenaria);
    border-left: none;
    margin-left: -2px;
  }

  .not-visible {
    display: none !important;
  }
}

/* Contatos */

.contact {
    position: relative;
    width: 100%;   
    justify-content: center;
    align-items: center;  
    text-align: center;  
    min-height: 100vh;       
    padding: 70px 15% 0;
}

.contact h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundaria);
    font-weight: 800;
    margin-top: 40px;       
}

.contact span {
    color: var(--cor-quartenaria);
}

.contact-container {   
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 60px;    
}

.my-contacts { 
    margin: 0 auto;       
}

.my-contacts ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.my-contacts ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 20px;
    text-align: center;
    width: 300px;
    align-content: center;
    height: 160px;
    background-color: var(--cor-quintenaria);
}

.my-contacts ul li i {
    font-size: 1.8rem;
    color: var(--cor-quartenaria);
}

.my-contacts ul li h3 {
    color: var(--cor-secundaria);
    font-size: 1.2rem;    
    font-weight: 500;
}

.my-contacts ul li p {    
    font-size: 1rem;
}

.my-contacts li::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my-contacts li::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my-contacts li:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--cor-quartenaria);
    border-right: 2px solid var(--cor-quartenaria);
}

.my-contacts li:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--cor-quartenaria);
    border-left: 2px solid var(--cor-quartenaria);
}

.my-contacts iframe {
    border-radius: 6px;
}

.contact-form {    
    flex: 1 1 25rem;
    text-align: center;
    background-color: var(--cor-quintenaria);
    padding: 2rem;
    border-radius: .5rem;
}

.contact-form h2 {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    color: var(--cor-quartenaria);
    margin-bottom: 1.5rem;    
}

.contact-form h3 {    
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.input-box {
    position: relative;
    margin-bottom: 40px;
    
}

.input-box.w50 {
    width: 47%;
}

.input-box.w100 {
    width: 100%;
}

.input-box input, 
.input-box textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 1rem;
    color: var(--cor-secundaria);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-terciaria);
}

.input-box textarea {
    height: 240px;
    font-family: var(--font-principal);
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.3s;
}

.input-box input:focus ~span, 
.input-box input:valid ~span, 
.input-box textarea:focus ~span,
.input-box textarea:valid ~span {
    transform: translateY(-20px);
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--cor-terciaria);
}


.btn-enviar {    
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    width: 180px;
    height: 48px;     
    font-size: 1.2em;
    background: var(--cor-terciaria);
    color: var(--cor-quintenaria);    
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;      
    margin-top: 2rem;    
    z-index: 1;
    overflow: hidden;
    
}

.btn-enviar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background: var(--cor-quintenaria);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    transition: .5s ease;
}

.btn-enviar:hover::before {
    width: 100%;
}

.btn-enviar:hover {
    color: var(--cor-terciaria);
    transition: .5s;
}

/* Rodapé */

.rodape {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);    
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;     
    font-family: var(--font-principal);
    font-weight: 300;  
    flex-direction: column; 
    position: relative;
    margin-top: 100px;
}

.rodape-principal{
    width: 1280px;
    display: flex;
    justify-content: space-between;      
}

.rodape-logo-senac {
    width: 130px;
    height: 74px;
    margin-left: 50px;
}

.rodape-texto {
    font-size: 1.5em;
    margin: auto 0;
}

.rodape-texto strong {
    font-weight:500;
}

.rodape-copy {
    position: absolute;
    text-align: center;
    bottom: 10px;
}

/* Botão Scroll Up */
.scrollup{
    position: fixed;
    background: var(--cor-terciaria);
    right: 2.5rem;
    bottom: -20%;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    text-decoration: none;
    z-index: 10;
    opacity: .8;
    transition: .4s;
  }
  
  .scrollup__icon{
    font-size: 1.25rem;
    color: var(--cor-primaria);    
  }
  
  .scrollup:hover{
    background: var(--cor-terciaria);
    opacity: 1;
  }
  
  /* Mostrar Scroll Up*/
  .show-scroll{
    bottom: 3rem;
  }

  