@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --font-principal:'Montserrat', sans-serif;
    --font-secundaria: 'Poppins', sans-serif;
    --cor-primaria: #170409;
    --cor-secundaria: #D1E8D8;
    --cor-terciaria: #3D942F;
    --cor-quartenaria: #70E05E;    
}

body {
    background: var(--cor-primaria);
    width: 100%;
}

/* Cabeçalho */

.cabecalho {    
    height: 66px;
    display: flex;    
    justify-content: center;    
}

.cabecalho div {
    width: 1280px;
    display: flex;    
    justify-content: space-between;
    padding-top: 38px;
}

.cabecalho-logo {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: 2.2em;
    font-weight: 600;
    text-decoration: none; 
    pointer-events: none;
    opacity: 0;
    animation: deslizarCima 1s ease forwards;
}

.cabecalho-logo strong {
    color: var(--cor-terciaria);
}

.cabecalho-menu ul {
    display: flex;
}

.cabecalho-menu a {
    display: inline-block;
    color: var(--cor-secundaria);;
    font-family: var(--font-principal);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    margin-left:50px;
    opacity: 0;
    animation: deslizarCima .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* Rodapé */

.rodape {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);    
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;     
    font-family: var(--font-principal);
    font-weight: 300;  
    flex-direction: column; 
    position: relative;
}

.rodape-principal{
    width: 1280px;
    display: flex;
    justify-content: space-between;      
}

.rodape-logo-senac {
    width: 130px;
    height: 74px;
    margin-left: 50px;
}

.rodape-texto {
    font-size: 1.5em;
    margin: auto 0;
}

.rodape-texto strong {
    font-weight:500;
}

.rodape-copy {
    position: absolute;
    text-align: center;
    bottom: 10px;
}

